.info-box {
    
    background-color: #2e4784; 
    color: #ffffff; 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
    margin: 10px;
  }
  
  .info-box-grid {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    padding: 5px;
  }
  
  .info-title {
    font-size: 14px;
    color: #e0f7fa;
  }
  
  .info-value {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .info-subtitle {
    font-size: 14px;
    color: #b2ebf2;
  }
  