.side-nav-container{
    width: 9vw;
    height: 95vh;
    background-color: #EBECFF;
    border-right: #000000 1px solid;
}

.dropdown-title {
    cursor: pointer;
    color: black;
    padding-left: 7px;
    border-radius: 4px;
}

.dropdown-content {
    padding-left: 15px;
}

.dropdown-content label {
    display: block;
}