.summary-table-container {
  display:flex;
  flex-direction: column;
  overflow-x: auto;
  align-items:center;
  justify-content: center;
}

.summary-table {
  width: auto;
  border-collapse: collapse;
  text-align: left;
}

.summary-table th, .summary-table td {
  border: 1px solid #ddd;
  font-size: 12px;
}

.summary-title {
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 12px;
}

.summary-value {
  background-color: #fff;
}

.summary-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.summary-table tr:hover {
  background-color: #f1f1f1;
}
