.side-panel{
    width: 200px;
    height: 95vh;
    background-color: #dadbe5;
}

.content-area{
    flex-grow: 1;
}

.center {
    margin-top: 20px;
    text-align: center;
    font-size: xx-large;
}

.fix {
    color: #FFFFFF;
}
