.side-panel{
    width: 200px;
    height: 95vh;
    background-color: #EBECFF;
}

.content-area{
    flex-grow: 1;
}

.center {
    margin-top: 20px;
    text-align: center;
    font-size: xx-large;
}
<<<<<<< HEAD
=======

.fix {
    color: #FFFFFF;
}
>>>>>>> e8ec838630f6f20b82d1d28c89ac8ac1bb8e8419
