.container{
    align-content: center;
}

.page-container {
    height: 100vh;
}
.banner-background {
    display: flex;
    justify-content: center;
    background-color: #dadbe5;
}
/* .banner-side-color{
    background-color: #D2D8E6;
    height: auto;
    flex-grow: 1;
    min-width: 50px;
} */
.centered-title-text {
    text-align: center;
    font-size: xx-large;
    margin-top: 15px;
    margin-bottom: 5px;
}

.centered-para-text {
    font-size: x-large;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.centered-box {
    transform: translate(-0%, 50%);
    background-color: #283D71;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    text-align: center;
    overflow-wrap: break-word;
    z-index: 1000;
}