.container{
    display: flex;
    width: 100vw;
}
.page-container {
    height: 100vh;
  }
.banner-side-color{
    background-color: #D2D8E6;
    height: auto;
    flex-grow: 1;
    min-width: 50px;
}

.center{
    text-align: center;
    font-size: xx-large;
}